# deps
node_modules/
.pnp.*

# builds
.next/
out/
build/
dist/
*.tsbuildinfo
next-env.d.ts

# env / secrets
.env
.env.local
.env.*.local
*.pem

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# misc
.turbo/
.cache/
coverage/
